
  <div class="text-center justify-center" id="post-container" data-id="{{id}}">
    <h2>{{title}}{{#if emoji}} {{emoji}}{{/if}}</h2>
    
    <p>{{content}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{#if image}}
  <div id="blog-image-container">
    <img id="blog-image" src="{{image}}" alt="Blog Post Image">
  </div>
  {{/if}}
  </div>

<div class="row">
{{#unless allow_comments}}
<div class="mt-4">
  <h4>Sorry, new comments have been disabled on this post!</h2>
</div>
{{/unless}}
{{#if logged_in}}
{{#if allow_comments}}
<div class="mt-4 col-md-6">
  <h4>Leave a Comment:</h2>

  <form class="form" id="new-comment-form" data-id={{id}}>
    <div class="form-group">
      <label for="comment-name">name:</label>
      <input value="{{userName}}" class="form-input" type="text" id="comment-name" 
      readonly
      />
    </div>
    <div class="form-group">
      <label for="comment-message">message:</label>
      <input class="form-input" type="text" id="comment-message" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">send</button>
    </div>
  </form>
</div>
{{/if}}
{{/if}}
<div class="mt-4 col-md-6">
  
  {{#if comment}}
    <div>
      <h4>Comments:</h4>

      {{#each comment as |item|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <p class="mt-4">{{comment}} -{{name}}</p>
          </div>
          
          {{!-- {{#unless isApproved}} --}}
          {{#if owner}} 
          <div class="mt-4 col-md-2">
            <button type="click" class="btn btn-success btn-sm" data-id="{{id}}" data-approved={{isApproved}} id="approve-btn">Approve</button>
          </div>
          {{/if}}
          {{!-- {{/unless}} --}}
          <div class="mt-4 col-md-2">
            <button
              id="delete-comment-btn"
              class="btn btn-sm btn-danger"
              data-id="{{id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#unless logged_in}}
{{!-- {{#if allow_comments}} --}}
<h5>Please, login to leave a comment!</h5>
{{!-- {{/if}} --}}
{{/unless}}
</div>
</div>
<script src="/js/post.js"></script>